/*          SIDEBAR         */

.side-bar p{font-size: 20px;}
.side-bar form{margin-bottom: 50px;}

.side-bar form input[type="email"]{
    display: inline-block;
    margin-right: -93px;
    padding-right: 90px;
}

.side-bar form input[type="submit"]{
    font-size: 14px;
    margin-top: -1px;
}


.side-bar .most-popular-post{
    background-color: #fbfbfb;
    box-shadow: 0px 0px 10px 1px #88888880;
    border-radius: 10px;
}

.side-bar .most-popular-post img{
    min-height: 125px;
    border-radius: 10px 0 0 10px;
}

.side-bar .most-popular-post p{
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
}

.side-bar .categories p{font-size: 20px;}

.side-bar .categories ul li span{
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--main-color);
    color: white;
    border-radius: 5px;
    padding: 2px 8px;
    font-size: 15px;
}